@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 51% 96%;
    --background-dark: 219 54% 5%;

    --card: 219 9% 90%;
    --card-dark: 219 14% 10%;

    --foreground: 218 52% 9%;
    --foreground-dark: 215 60% 96%;

    --primary: 212 92% 45%;
    --primary-dark: 216 93% 58%;
    --primary-foreground: 215 60% 96%;

    --secondary: 0 0% 80%;
    --secondary-dark: 0 0% 20%;

    --link: 212 92% 45%;
    --link-dark: 203 90% 53%;
  }
}
