@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 40% 98%;
    --card: 219 9% 90%;
    --foreground: 218 52% 9%;
    --primary: 212 92% 45%;
    --primary-foreground: 215 60% 96%;
    --secondary: 0 0% 95%;
    --link: 212 92% 45%;

    @media (prefers-color-scheme: dark) {
      --background: 219 54% 5%;
      --card: 219 14% 10%;
      --foreground: 215 60% 96%;
      --primary: 216 93% 58%;
      --link: 216 93% 58%;
    }
  }
}
