@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 212 47.4% 11.2%;

    --muted: 212 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 212 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 212 84% 4.9%;

    --border: 212 31.8% 91.4%;
    --input: 212 31.8% 91.4%;

    --primary: 212 92% 45%;
    --primary-foreground: 212 40% 98%;

    --secondary: 212 40% 90%;
    --secondary-foreground: 212 47.4% 11.2%;

    --accent: 212 40% 96.1%;
    --accent-foreground: 212 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 212 40% 98%;

    --ring: 212 70% 65.1%;

    --radius: 0.5rem;

    --link: 212 94% 45%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 212 40% 4%;
      --foreground: 216 66% 96%;

      --muted: 212 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --popover: 212 84% 4.9%;
      --popover-foreground: 212 40% 98%;

      --card: 212 84% 4.9%;
      --card-foreground: 212 40% 98%;

      --border: 212 32.6% 17.5%;
      --input: 212 32.6% 30%;

      --primary: 216 94% 58%;
      --primary-foreground: 216 66% 96%;

      --secondary: 212 32.6% 17.5%;
      --secondary-foreground: 212 40% 98%;

      --accent: 212 32.6% 17.5%;
      --accent-foreground: 212 40% 98%;

      --destructive: 0 80% 50%;
      --destructive-foreground: 0 85.7% 97.3%;

      --ring: 212 94% 40%;

      --link: 212 94% 60%;
    }
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* prevent auto zoom on input in safari on iphone */
  input[type='text'],
  input[type='email'],
  input[type='number'],
  textarea {
    font-size: 16px;
  }
}
